.container{
    height: 100vh; /*ocupa a altura total, diferente de 100% que ocupa height e width*/
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column; /*os próximos elementos ficaram um abaixo do outro*/ 
}

.container section{
    flex:1;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem; /*Espaçamento entre as colunas de cima*/
    align-content: center;
}